.our-culture-box 
    border-radius: 45px 45px 0 0
    position: relative
    z-index: 1
    padding: 96px 0 188px
    margin-top: -60px
    background-size: cover
    background-repeat: no-repeat

    .column-box
        display: flex
        flex-wrap: wrap
        
        .column-title
            width: 30.8%
            padding-right: 20px

        .column-image
            width: 30%
            h2
                margin-bottom: 46px

        .column-content
            margin-left: auto
            margin-right: -8px
            width: 41.35%
            margin-top: auto
    
    .content
        max-width: 469px
        margin-left: auto
        margin-right: 5.1%

    .title
        color: #000
        align-self: stretch
        font-size: 36px
        font-weight: 400
        line-height: 128%
        margin-top: 0

    .description
        color: #232323
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 25px
        letter-spacing: 0.28px
        margin-bottom: 0

@media (max-width: 1600px)
    .our-culture-box
        padding: 96px 0 134px
        .container
            max-width: 1235px
        
        .content
            max-width: 418px

@media (max-width: 1199px)
    .our-culture-box .column-box
        .column-title
            width: 50%

        .column-image
            width: 50%
            max-width: 46%
            margin-left: 0
            margin-top: 0

        .column-content
            width: 46%
            margin-top: auto
            margin-right: 0

@media (max-width: 767px)
    .our-culture-box
        border-radius: 30px

        .column-box
            .column-content
                width: 100%
                margin-top: 50px
                
            .column-image
                width: 100%
                max-width: 100%
                margin: 30px 0 0

            .column-title
                width: 100%

        .content 
            max-width: 100%
            margin-right: 0

            .btn
                width: 100%
                padding: 12px 45px 10px 17px
                height: auto

