.projects-box-content 
    border-radius: 45px
    background: var(--Color-neutrals-white)
    position: relative
    z-index: 1
    padding: 108px 0 92px

    .container
        max-width: 1453px

    .column-box
        gap: 18px
        display: flex
        flex-wrap: wrap
        flex-direction: column
    
    .content
        max-width: 469px
        margin-left: auto
        margin-right: 5.1%

    .title
        color: #000
        align-self: stretch
        font-size: 36px
        font-weight: 400
        line-height: 128%
        margin-top: 0
        max-width: 425px

    .description
        color: #232323
        font-size: 14px
        font-style: normal
        font-weight: 400
        line-height: 25px
        letter-spacing: 0.28px
        margin-bottom: 40px

@media (max-width: 1600px)
    .projects-box-content
        border-radius: 30px
        padding: 78px 0 100px

        .container
            max-width: 1243px

        .column-box
            gap: 4px
        
        .content
            max-width: 418px

@media (max-width: 1199px)
    .projects-box-content
        padding: 81px 0 50px

        .column-box
            gap: 66px

@media (max-width: 767px)
    .projects-box-content
        border-radius: 30px

        .description
            color: #000000

        .content 
            max-width: 100%
            margin-right: 0

            .btn
                padding: 10px 58px 8px 17px
                height: auto
                letter-spacing: 0.02rem
                line-height: 1.2

@media (max-width: 429px)
    .projects-box-content
        .content 

            .btn
                padding: 10px 30px 8px 17px
                background-position: right 10px center
                width: 100%
                font-size: 14px


