.phi-content-container.bg-black
  color: #fff
.phi-content-container
  color: #000
  border-radius: 45px
  background-repeat: no-repeat
  background-size: 100%
  .img-dk
    @media screen and (max-width: 767.98px)
      display: none
  .img-mb
    @media screen and (min-width: 768px)
      display: none

  .container
    padding-top: 118px
    padding-bottom: 100px
    display: flex
    flex-wrap: nowrap
    gap: 36px
    justify-content: space-between
    @media screen and (max-width: 1440.98px)
      padding-top: 70px
      padding-bottom: 57px
    @media screen and (max-width: 767.98px)
      padding-top: 82px
      padding-bottom: 79px
  .image-container
    width: 40.65%
    @media screen and (max-width: 1440.98px)
      width: 43.75%
    @media screen and (max-width: 767.98px)
      width: calc(100vw - 72px)
      margin-left: -89px
      margin-top: 78px

    .image
      padding-bottom: 90.6%
      background-position: center
      background-size: cover

  .content
    width: 50%
    max-width: 680px
    display: flex
    @media screen and (max-width: 767.98px)
      width: 100%
      max-width: unset

    .label
      font-family: Tiempos Headline
      font-size: 70px
      font-weight: 300
      line-height: 84px
      letter-spacing: 0.005em
      width: 100px
      color: inherit
      @media screen and (max-width: 767.98px)
        font-size: 50px
        line-height: 61px
        width: 89px

    .text-container
      width: calc(100% - 100px)
      display: flex
      flex-wrap: wrap
      align-content: space-between
      @media screen and (max-width: 767.98px)
        width: calc(100% - 89px)
      .title
        font-size: 36px
        font-weight: 400
        line-height: 46px
        color: inherit
        @media screen and (max-width: 1440.98px)
          max-width: 484px
      .des
        font-size: 14px
        font-weight: 400
        line-height: 25px
        letter-spacing: 0.02em
        color: inherit
        min-height: 160px
        padding-bottom: 50px
        max-width: 495px
        @media screen and (max-width: 1440.98px)
          padding-bottom: 20px
        @media screen and (max-width: 767.98px)
          width: calc(100vw - 72px)
          margin-left: -89px
          padding-bottom: 0
          margin-top: 39px
          max-width: unset

  .img-right
    .content
      order: -1