.phi-content-container.bg-black
  color: #fff
.pin-spacer
  .phi-content-container
    // padding-bottom: 50px
.end-overlay-animation
  margin-top: -50px
  z-index: 2
  position: relative
.end-overlay-animation + footer
  margin-top: -50px
  z-index: 1
.end-overlay-animation + footer .container
  padding-top: 50px
.page-philosophy .pin-spacer + .pin-spacer + .pin-spacer .phi-content-container .container
    // padding-top: 185px
.page-philosophy .pin-spacer + .pin-spacer + .pin-spacer + .pin-spacer .phi-content-container
  border-radius: 32px 32px 0 0 
.page-philosophy .pinning-1
  // background-color: transparent
.phi-2.philosophy-section
  .phi-content-container
    border-radius: 0 0 32px 32px
    // margin-top: -50px
    // .content
    //   padding-top: 190px
    //   padding-bottom: 190px
    // .image-container 
    //   .image
        // padding-bottom: 152.37%
.phi-3.philosophy-section
  .phi-content-container
    border-radius: 32px 32px 0 0
    overflow: hidden
    // margin-top: -50px
    @media screen and (max-width: 1440.98px)
      border-radius: 32px 32px 0 0
      
.phi-5.philosophy-section 
  margin-top: 0
  .phi-content-container
      border-radius: 32px 32px 0 0
.page-philosophy 
  .phi-content-container
    height: 100vh
    display: flex
    align-items: center
    @media screen and (max-width: 767.98px)
      height: auto
  .phi-banner-container.phi-page
    .content
      padding: 159px 0 38px
  .pinning-4 .phi-content-container
    border-radius: 32px
  .pinning-6 .phi-content-container
    border-radius: 32px 32px 0 0
.phi-content-container
  color: #000
  border-radius: 0 0 32px 32px
  background-repeat: no-repeat
  background-size: cover
  overflow: hidden
  @media screen and (max-width: 1440.98px)
    border-radius: 0 0 32px 32px
  @media screen and (max-width: 767.98px)
    background-size: cover

  .img-dk
    @media screen and (max-width: 767.98px)
      display: none
  .img-mb
    @media screen and (min-width: 768px)
      display: none

  .container
    // padding-top: 118px
    // padding-bottom: 150px
    display: flex
    flex-wrap: nowrap
    gap: 36px
    justify-content: space-between
    height: 100%
    &.img-left
      padding-left: 0
      @media screen and (max-width: 767.98px)
        padding-left: 36px
    &.img-right
      padding-right: 0
      @media screen and (max-width: 767.98px)
        padding-right: 36px
    
    @media screen and (max-width: 1440.98px)
      // padding-top: 100px
      // padding-bottom: 57px
    @media screen and (max-width: 767.98px)
      height: auto
      // padding-top: 82px
      // padding-bottom: 79px
  .image-container
    width: 45.426%
    @media screen and (max-width: 1440.98px)
      // width: 43.75%
    @media screen and (max-width: 767.98px)
      width: 100%
      margin-top: 47px
    .image
      padding-bottom: 135.07%
      background-position: center
      background-size: cover
      min-height: 100%
      @media screen and (max-width: 767.98px)
        padding-bottom: 111.733%
        height: auto

  .content
    width: 45.5%
    display: flex
    align-items: flex-start
    padding-top: 140px
    padding-bottom: 140px
    @media screen and (max-width: 767.98px)
      padding-top: 80px
      padding-bottom: 80px
      width: 100%
      max-width: unset
      flex-wrap: wrap
    
    .content-inner
      max-width: 680px
      display: flex
      align-items: flex-start
      flex-wrap: wrap

    .label
      font-family: Tiempos Headline
      font-size: 70px
      font-weight: 300
      line-height: 84px
      letter-spacing: 0.005em
      width: 98px
      color: inherit
      margin-top: 5px
      @media screen and (max-width: 767.98px)
        font-size: 50px
        line-height: 61px
        width: 100%
        margin-bottom: 21px

    .text-container
      width: calc(100% - 100px)
      display: flex
      flex-wrap: wrap
      align-content: space-between
      @media screen and (max-width: 767.98px)
        width: 100%
      .title
        font-size: 36px
        font-weight: 400
        line-height: 46px
        color: inherit
        @media screen and (max-width: 1440.98px)
          max-width: 484px
      .des
        font-size: 14px
        font-weight: 400
        line-height: 25px
        letter-spacing: 0.02em
        color: inherit
        margin-top: 60px
        max-width: 480px
        @media screen and (max-width: 767.98px)
          width: 100%
          padding-top: 0
          margin-top: 48px
          max-width: 100%
      .btn
        margin-top: 50px
        @media screen and (max-width: 767.98px)
          width: fit-content

  .img-right
    .content
      order: -1
