.projects-banner
    position: relative
    padding-top: 161px
    padding-top: 100px
    min-height: calc(100vh - 80px)
    display: flex
    align-items: center

    .section-bkg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1

        img
            width: 100%
            aspect-ratio: 1.77776
            object-fit: cover
            height: 100%
    h1.h5 
        @media screen and (max-width: 767.98px)
            line-height: 36px

.projects-items
    padding: 10px 0
    @media screen and (max-width: 1399px)
        padding: 15px 0 

    .item
        display: flex
        justify-content: center
        align-items: center
        margin: 13.5px 0

        @media (min-width: 1200px)
            padding-right: 60px

        .item-inner
            position: relative
            min-width: 540px

            img
                display: none
                width: 116px
                height: auto
                aspect-ratio: 1.779
                object-fit: cover
                object-position: center
                vertical-align: top
                margin-top: 12px
                margin-right: 10px

            &:hover 
                img
                    display: inline-flex
                .subheading
                    margin-left: 19px
                    @media (max-width: 1199px) 
                        margin-left: 0
                    

        &:last-child 
            .item-inner
                .subheading
                    margin-left: 27px

        &.active-popup 
            .item-inner
                img
                    display: inline-flex
                .subheading
                    margin-left: 19px
                    @media (max-width: 1199px) 
                        margin-left: 0
            .projects-popup
                opacity: 1
                visibility: visible
                transform: translateY(0)

        .subheading
            font-family: "Tiempos Headline"
            font-size: 14px
            font-style: normal
            font-weight: 400
            line-height: 1.4
            vertical-align: top
            margin-top: 7px
            position: absolute
            left: 100%
            bottom: 15px
            max-width: 200px
            width: 100%
            text-align: left
            margin-left: 7px
            a
                font-family: "Tiempos Headline"
                font-size: 14px
                font-style: normal
                font-weight: 400
                line-height: 1.4
            p
                margin-bottom: 10px 
        h3
            margin-bottom: 0
            line-height: 86.322px
            letter-spacing: -1.5px
                
.subheading p 
    margin-bottom: 10px

html.active-overlay 
    overflow: hidden

.projects-popup
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 101
    opacity: 0
    visibility: hidden
    transition: all 0.5s
    height: 100vh
    display: flex
    align-items: center
    transform: translateY(100%)
    
    &.active-popup
        opacity: 1
        visibility: visible
        transform: translateY(0)

    .ScrollbarsCustom-Wrapper, 
    .ScrollbarsCustom-Scroller
        position: static !important
        height: 100%

    .ScrollbarsCustom-Track
        background: rgba(255, 255, 255, 50%) !important
        border-radius: 0 !important
        width: 2px !important
        right: 35px !important
        top: 82px !important
        height: calc(100% - 82px) !important
        z-index: 1

    .ScrollbarsCustom-Thumb
        background: #CCB4FB !important

    .projects-popup-container 
        position: relative
        width: 90%
        border-radius: 31.304px
        overflow: hidden
        padding: 88px 0 91px
        color: #ffffff
        max-height: 90%
        overflow-y: auto
        z-index: 3
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        max-width: 1440px
        margin: 0 auto
        @media (max-width: 1199px)        
            padding: 40px 0
            width: 100%
            max-height: calc(100% - 40px)

        &.projects-popup-coming-soon
            height: 60%
            display: flex
            align-items: center
            text-align: center
            h4
                padding: 0

    .section-bkg
        border-radius: 31.304px

    .container
        position: relative
        max-width: 1174px
        padding-left: 36px
        padding-right: 36px

    button.projects-popup-close
        background: transparent
        border: none
        outline: none
        position: absolute
        right: 36px
        top: -35px
        padding: 0
        z-index: 1

    .popup-heading
        display: flex
        flex-wrap: wrap

    h4
        margin: 0

    .heading
        width: 30%
        padding-right: 20px
        padding-left: 5px

    .heading .subheading, a
        font-family: "Tiempos Headline"
        font-size: 14px
        font-style: normal
        font-weight: 300
        line-height: 1.4
        margin-top: 30px
        position: static
        color: #ffffff
    a:hover 
        text-decoration: underline
    .popup-galleries 
        width: 70%
        padding-top: 18px
        
        .swiper
            padding-bottom: 60px

        .swiper-slide
            width: auto
            transition: all 0.5s
            &.swiper-slide-prev 
                opacity: 0

        .item-gallery img
            vertical-align: top
            height: 332px
            object-fit: cover

    .popup-content
        display: flex
        display: flex
        width: 100%
        flex-wrap: wrap
        margin-top: 25px
        padding-right: 25px
        font-weight: 300

        .column
            &.content-column-title
                width: 30%
                padding-top: 18px
                padding-right: 30px
                font-size: 24px
                line-height: 36px
                font-weight: 500
                @media (max-width: 1199px)
                    width: 50%

                @media (max-width: 767px)
                    width: 100%
                    padding-right: 0
                    letter-spacing: 0.2px

            &.content-column-description
                width: 70%
                margin-left: auto
                padding-top: 18px
                @media (max-width: 1199px)
                    width: 50%
                @media (max-width: 767px)
                    width: 100%
                    padding-top: 30px
            
            @media (max-width: 767px)
                border-top: none
            strong
                font-weight: 500

            h6, .h6
                font-weight: 500
                line-height: 35.573px

    .swiper
        .swiper-button-prev, 
        .swiper-button-next
            width: 32px
            height: 30px
            background-size: contain
            margin-top: -14px
            background-image: url(images/icon-arrows-next.svg)
            top: auto
            bottom: 0
            right: 0
            left: auto
            transition: all 0.5s
            &:hover
                opacity: 0.8
            @media (max-width: 767px)
                display: none

        .swiper-button-prev.swiper-button-disabled, 
        .swiper-button-next.swiper-button-disabled
            opacity: 0

        .swiper-button-prev
            // left: -35px
            // display: none
            transform: none
            transform: rotate(180deg)
            right: 67px

        .swiper-button-next
            // right: -35px

.popup-content.visible-mobile,
.btn.visible-tablet, 
.btn.visible-mobile,
.visible-tablet, 
.visible-mobile
    display: none 
    
    
@media (min-width: 1600px)
    .projects-items .item
        .item-inner img
            width: 150px
            margin-top: 5px

@media (max-width: 1600px)        
    .projects-items
        .item
            margin: 0

    .projects-popup 
        .popup-content
            padding-left: 0
            margin-top: 25px
            --gap:52px
            padding-right: 0

        .container
            max-width: 1108px

        .heading 
            padding-left: 0
        
        .popup-galleries
            padding-right: 0

            .item-gallery img
                height: 310px

.active-overlay
    .poup-overlay
        z-index: 0
        position: fixed
        width: 100%
        height: 100%
        background-color: #000000
        opacity: 0.5
        top: 0
        left: 0
            
@media (max-height: 800px)
    .projects-popup
        .projects-popup-container
            padding: 40px 0

        .popup-content
            margin-top: 25px

@media (max-width: 1300px)
    .projects-items
        padding: 69px 46px 102px 0
        .item:last-child .item-inner .subheading
            max-width: 150px
    
@media (max-width: 1199px)        
    .btn.visible-tablet,
    .visible-tablet
        display: inline-flex
        background-size: 17px
        background-position: right 26px center

    .projects-items
        text-align: left
        padding: 25px 0 88px 0
        display: flex
        flex-direction: column
        gap: 45px

        .item.active-popup .item-inner h3 img
            display: none
        
        .item:last-child .item-inner .subheading
            max-width: 100%
            
        .item:nth-child(n + 4) .item-inner .subheading
            margin: 31px 0 0

        .item
            justify-content: center

            .item-inner
                min-width: 0
                display: flex
                flex-wrap: wrap
                justify-content: center

                &:hover 
                    img
                        display: none

                .subheading 
                    position: static
                    max-width: 100%
                    margin: 27px 0 0
                    text-align: center
                    font-size: 22px
                    font-weight: 400
                    line-height: 24px
                    a
                        font-size: 14px
                        line-height: 1.4
                
                button.btn
                    margin-top: 45px
                    min-width: 0
                    background-position: right 16px center
                    background-size: 12px
                    @media (max-width: 767px)   
                        background-size: 17px
                        background-position: right 26px center
                        padding-right: 58px 

            &:last-child 
                .item-inner 
                    .subheading
                        margin-left: 0

            h3 
                line-height: 1.2
                display: flex
                flex-wrap: wrap
                justify-content: center
                text-align: center
                .image 
                    width: 0px
                    display: inline-block               

    .projects-popup 
        .popup-content
            padding-left: 0
            margin-top: 25px
            --gap: 20px

            &.visible-desktop
                display: none

            &.visible-mobile
                display: block


        .heading
            padding-left: 0
            width: 50%
            .subheading *
                font-size: 14px
                line-height: 1.4

        .popup-galleries
            width: 50%

            .item-gallery img
                // height: 387px

        button.projects-popup-close
            svg
                width: 32px
                height: 30px

                line
                    // stroke-width: 4px

        .popup-galleries
            padding: 0 0 0
            overflow: hidden
            
            .swiper
                // overflow: visible

            .swiper                    
                .swiper-button-prev
                    // left: 0
                    // top: 200px
                    @media (max-width: 767px)
                        // top: 135px

                .swiper-button-next
                    // right: 0
                    // top: 200px
                    @media (max-width: 767px)
                        // top: 135px

            .item-gallery 
                // padding: 0 39px
                text-align: center

                img
                    // height: 400px
                    // aspect-ratio: 0.7
                    // object-fit: cover

@media (max-width: 767px)
    .btn.visible-mobile,
    .visible-mobile
        display: inline-flex

    .projects-items .item
        h3
            font-size: 40px
            line-height: 48px
            letter-spacing: -0.02em

    .projects-banner
        padding-top: 159px

    .projects-popup 
        button.projects-popup-close
            top: 0
            
        .projects-popup-container
            padding: 53px 0 82px 36px
            overflow: hidden
            display: flex

        .container 
            padding: 0
            .projects-popup-main
                padding: 0 31px 0 0
                overflow: hidden
            
        h4 
            margin: 0
            font-size: 40px
            line-height: 1.2
            padding-right: 100px

        .heading
            width: 100%
            padding-right: 0
            .subheading
                padding-right: 10px
                margin-top: 38px
                letter-spacing: 0.2px
                p
                    margin-bottom: 21px

        .popup-content
            margin-top: 39px
            --columns: 1
            --gap: 0
            padding-right: 15px

        .popup-galleries
            width: 100%
            overflow: visible
            padding: 33px 0 0
            
            .swiper
                overflow: visible
                width: 200%
                padding-bottom: 0

                .item-gallery 
                    img
                        height: 202px
                        max-width: 100%
                        aspect-ratio: auto
                        margin: 0 auto
                        width: 100%
                        object-fit: cover

            .swiper
                .swiper-button-prev
                    left: -18px

                .swiper-button-next
                    right: 0
    
    .projects-popup-main ~
        .site-footer
            padding-top: 83px

        .global-wrapper
            margin-bottom: -32px