.box-image 
    padding: 108px 0

.box-image .column-box
    gap: 20px
    display: flex

@media (max-width: 991px)
    .box-image .column-box
        flex-direction: column
        align-items: stretch
        gap: 0px

.box-image .column-image
    display: flex
    flex-direction: column
    line-height: normal
    width: 49.3152%
    margin-left: 0px

@media (max-width: 991px)
    .box-image .column-image
        width: 100%

.box-image .img
    aspect-ratio: 1.32688
    object-fit: contain
    object-position: center
    width: 100%
    overflow: hidden
    flex-grow: 1
    vertical-align: top

@media (max-width: 991px)
    .box-image .img
        max-width: 100%
        margin-top: 40px

.box-image .column-content
    display: flex
    flex-direction: column
    line-height: normal
    width: 42.1%
    margin-left: auto

@media (max-width: 991px)
    .box-image .column-content
        width: 100%

.content-inner
    display: flex
    -top: 32px
    flex-grow: 1
    flex-direction: column
    align-items: start
    padding: 0 20px

@media (max-width: 991px)
    .box-image .content-inner
        max-width: 100%
        margin-top: 40px

.box-image .title
    color: #000
    align-self: stretch
    font: 400 36px/128% Buenos Aires, -apple-system, Roboto, Helvetica, sans-serif
    margin-top: 0

@media (max-width: 991px)
    .box-image .title
        max-width: 100%

.box-image .content 
    margin-top: auto


.box-image .description
    color: #232323
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 25px
    letter-spacing: 0.28px


@media (max-width: 991px)
    .box-image .description
        max-width: 100%
        margin-top: 40px

.box-image .div-5
    display: flex
    justify-content: center
    align-items: start
    border-radius: 71.146px
    border: 0.711px solid var(--Color-primary-blue, #0068ff)
    margin-top: 34px
    gap: 0px
    padding: 12px

.box-image .div-6
    color: var(--Color-primary-blue, #0068ff)
    letter-spacing: 0.28px
    flex-grow: 1
    white-space: nowrap
    font: 400 14px/100% Tiempos Headline, -apple-system, Roboto, Helvetica, sans

@media (max-width: 991px)
    .box-image .div-6
        white-space: initial

.box-image .div-7
    color: var(--Color-primary-blue, #0068ff)
    text-align: center
    letter-spacing: 0.28px
    align-self: stretch
    white-space: nowrap
    font: 400 14px/100% Inter, -apple-system, Roboto, Helvetica, sans-serif

@media (max-width: 991px)
    .box-image .div-7
        white-space: initial
