.careers-life
    &.careers-section
        border-radius: 45px 45px 0 0
        padding: 73px 0 120px

    h2
        color: #ffffff

    .container
        @media screen and (max-width: 1600.98px)
            max-width: 1235px

    .life-gallery
        display: flex
        flex-wrap: wrap
        gap: 20px 16px
        position: relative

    .section-content
        margin-top: 51px
        position: relative

    .life-gallery .item .item-image img
        vertical-align: top
        height: 414px
        @media screen and (max-width: 1600.98px)
            height: 288px

    .gallery-icon
        position: absolute

        img
            width: 100%
            vertical-align: top

        &.gallery-icon-row
            right: -22px
            top: -12px
            width: 39.9%

        &.gallery-icon-col
            bottom: -25px
            left: -11px
            width: 10.6%
