.phi-content-container
  .img-dk
    @media screen and (max-width: 767.98px)
      display: none
  .img-mb
    @media screen and (min-width: 768px)
      display: none

  .container
    padding-top: 118px
    padding-bottom: 100px
    display: flex
    flex-wrap: nowrap
    gap: 36px
    justify-content: space-between

  .image-container
    width: 40.65%

    .image
      padding-bottom: 90.6%

  .content
    width: 50%
    max-width: 580px
    display: flex
    

    .label
      font-family: Tiempos Headline
      font-size: 70px
      font-weight: 300
      line-height: 84px
      letter-spacing: 0.005em
      width: 100px
      color: #000

    .text-container
      width: calc(100% - 100px)
      display: flex
      flex-wrap: wrap
      align-content: space-between

      .title
        font-size: 36px
        font-weight: 400
        line-height: 46px
        color: #000
      .des
        font-size: 14px
        font-weight: 400
        line-height: 26px
        letter-spacing: 0.02em
        color: #000
        min-height: 160px

  .img-right
    .content
      order: -1