div.tooltip
    color: #cccccc
    font-weight: normal
    font-size: 14px
    line-height: 1.5
    position: absolute
    padding: 20px
    border: 4px solid rgba(0, 0, 0, 0.85)
    background-color: rgba(0, 0, 0, 0.85)
    box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.35)
    border-radius: 2px
    max-width: 280px

    &.no-padding
        padding: 0
        line-height: 0

        *
            line-height: auto

    a[data-dismiss=tooltip], button[data-dismiss=tooltip]
        position: absolute
        top: -10px
        right: -10px
        height: auto
        width: 25px
        height: 25px
        z-index: 100
        color: #FFFFFF
        line-height: 1
        font-size: 18px
        border-radius: 100%
        background-color: #111111
        transition: background 0.5s

    a[data-dismiss=tooltip]
        &:hover, &:focus, &:active
            background-color: #DD0000
            color: #FFFFFF

    button[data-dismiss=tooltip]
        &:hover, &:focus, &:active
            background-color: #DD0000
            color: #FFFFFF

    &.top-left
        &:after, &:before
            top: 100%
            left: 30px
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

    &.top-right
        &:after, &:before
            top: 100%
            left: calc(100% - 30px)
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

    &.top-center
        &:after, &:before
            top: 100%
            left: 50%
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

    &.top-left, &.top-right, &.top-center
        margin-top: -15px

    &.top-left:after, &.top-right:after, &.top-center:after
        border-top-color: rgba(0, 0, 0, 0.85)
        border-width: 10px
        margin-left: -10px

    &.top-left:before, &.top-right:before, &.top-center:before
        border-top-color: rgba(0, 0, 0, 0.85)
        border-width: 11px
        margin-left: -11px

    &.bottom-left
        &:after, &:before
            bottom: 100%
            left: 30px
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

    &.bottom-center
        &:after, &:before
            bottom: 100%
            left: 50%
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

    &.bottom-right
        &:after, &:before
            bottom: 100%
            left: calc(100% - 30px)
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

    &.bottom-left, &.bottom-center, &.bottom-right
        margin-top: 15px

    &.bottom-left:after, &.bottom-center:after, &.bottom-right:after
        border-bottom-color: rgba(0, 0, 0, 0.85)
        border-width: 10px
        margin-left: -10px

    &.bottom-left:before, &.bottom-center:before, &.bottom-right:before
        border-bottom-color: rgba(0, 0, 0, 0.85)
        border-width: -11px
        margin-left: -11px

    &.left-top
        &:after, &:before
            left: 100%
            top: 30px
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

    &.left-middle
        &:after, &:before
            left: 100%
            top: 50%
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

    &.left-bottom
        &:after, &:before
            left: 100%
            top: calc(100% - 30px)
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

    &.left-top, &.left-middle, &.left-bottom
        margin-left: -15px

    &.left-top:after, &.left-middle:after, &.left-bottom:after
        border-left-color: rgba(0, 0, 0, 0.85)
        border-width: 10px
        margin-top: -10px

    &.left-top:before, &.left-middle:before, &.left-bottom:before
        border-left-color: rgba(0, 0, 0, 0.85)
        border-width: 11px
        margin-top: -11px

    &.right-top
        &:after, &:before
            right: 100%
            top: 30px
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

    &.right-middle
        &:after, &:before
            right: 100%
            top: 50%
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

    &.right-bottom
        &:after, &:before
            right: 100%
            top: calc(100% - 30px)
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none

    &.right-top, &.right-middle, &.right-bottom
        margin-left: 15px

    &.right-top:after, &.right-middle:after, &.right-bottom:after
        border-right-color: rgba(0, 0, 0, 0.85)
        border-width: 10px
        margin-top: -10px

    &.right-top:before, &.right-middle:before, &.right-bottom:before
        border-right-color: rgba(0, 0, 0, 0.85)
        border-width: 11px
        margin-top: -11px

    .tooltip-demo
        position: relative
        display: block
        height: 70px
        margin: 0 0 10px 0

    .tooltip-demo-btn
        position: absolute
        display: inline-block
        padding: 15px 10px
        margin: 0 10px 0 0
        width: 25%
        color: #FFFFFF
        background-color: #444
        border: 1px solid #555
        border-radius: 2px
        font-size: 14px
        box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.35)
        transition: box-shadow 1s

    &:hover, &:focus, &:active
        box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0)

    &.left
        left: 0 !important
        top: 0 !important

    &.center
        left: 50% !important
        top: 0 !important
        transform: translateX(-50%)

    &.right
        right: 0 !important
        top: 0 !important

    .datagrid
        font: normal 12px/150% Arial, Helvetica, sans-serif
        background: #fff
        overflow: hidden
        border: 1px solid #8C8C8C
        border-radius: 3px

    ul
        margin-left: 0
        padding-left: 0

        li
            margin-left: 15px
            margin-bottom: 10px

    table
        border-collapse: collapse
        text-align: left
        width: 100%

        td, th
            padding: 3px 10px

        thead th
            background: -moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%)
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8C8C8C", endColorstr="#7D7D7D")
            background-color: #8C8C8C
            color: #FFFFFF
            font-size: 15px
            font-weight: bold
            border-left: 1px solid #A3A3A3

            &:first-child
                border: none

        tbody
            td
                color: #7D7D7D
                border-left: 1px solid #DBDBDB
                font-size: 12px
                font-weight: normal
                vertical-align: top

            .alt td
                background: #EBEBEB
                color: #7D7D7D

            td:first-child
                border-left: none

            tr:last-child td
                border-bottom: none

        tfoot
            td
                padding: 0
                font-size: 12px

                div
                    border-top: 1px solid #8C8C8C
                    background: #EBEBEB
                    padding: 2px

                ul
                    margin: 0
                    padding: 0
                    list-style: none
                    text-align: right

        li
            display: inline

            a
                text-decoration: none
                display: inline-block
                padding: 2px 8px
                margin: 1px
                color: #F5F5F5
                border: 1px solid #8C8C8C
                border-radius: 3px
                background: -moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%)
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8C8C8C", endColorstr="#7D7D7D")
                background-color: #8C8C8C

        ul
            &.active, a:hover
                text-decoration: none
                border-color: #7D7D7D
                color: #F5F5F5
                background: none
                background-color: #8C8C8C

    div
        &.dhtmlx_window_active, &.dhx_modal_cover_dv
            position: fixed !important

    
.about-banner-top
    background: var(--Color-neutrals-black, #1E1E1E)
    padding: 224px 0 123px

    h1
        color: var(--Color-neutrals-white)
        font-size: 12px
        font-style: normal
        font-weight: 600
        line-height: 17.531px
        letter-spacing: 0.12px
        text-transform: uppercase
        margin: 0

    .content
        color: var(--Color-neutrals-white)
        font-size: 48px
        font-style: normal
        font-weight: 300
        line-height: 60px
        margin-top: 23px
        letter-spacing: 0.2px
        padding-right: 80px
        position: relative
    
        .tt-image
            display: inline-block

    .container
        max-width: 1455px

#tooltip
    position: absolute
    width: 210px
    margin: 0
    opacity: 0
    transition: opacity 0.2s

    &.show
        opacity: 1 !important

    img
        display: block
        padding: 0
        margin: 0
        width: 100%

.tooltip-active
    color: #707070

.tt-image.active
    color: #CCB4FB

    
@media (max-width: 1600px)
    .about-banner-top
        padding: 199px 0 107px

        .container
            max-width: 1240px

        .content
            line-height: 58.436px
            padding-right: 55px
            
    
@media (max-width: 767px)
    .about-banner-top
        padding: 178px 0 121px

        h1
            font-size: 16px
            font-style: normal
            font-weight: 600
            line-height: 24px
            letter-spacing: 0.16px

        .content
            font-size: 28px
            font-style: normal
            font-weight: 400
            line-height: 47.9px
            padding-right: 0
            margin-top: 39px
            letter-spacing: 0

            .tt-image
                font-size: 20px
                font-style: normal
                font-weight: 400
                line-height: 20px
                letter-spacing: 0.4px
                border-radius: 100px
                border: 1px solid var(--Color-primary-lilac, #CCB4FB)
                background: var(--Color-neutrals-black, #1E1E1E)
                padding: 11px 9px
                display: inline-block
    
    
    #tooltip
        &.show
            opacity: 1 !important
            bottom: 0 !important
            top: auto !important
            left: 0 !important
            width: 100%
            height: auto
            letter-spacing: 0