.section-wrapper
    overflow: hidden

    .swiper
        overflow: visible

        .swiper-button-prev, .swiper-button-next
            top: 0
            right: 0
            margin-top: -87px
            left: auto

        .swiper-button-prev
            margin-right: 67px

.our-teams
    padding-top: 7px

    .container
        max-width: 1735px

.section-heading
    max-width: 500px

    h2
        font-size: 36px
        font-style: normal
        font-weight: 400
        line-height: 46px
        margin-bottom: 46px
